.Nav-Bar{
    background-color: var(--nueve);    
    display: flex;
    height: 100px;
}
.Nav-Bar ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}
.Nav-Bar ul li{
    font-family: "Lato", sans-serif;
    text-decoration: none;
    font-weight: bold;
}
.conn{
    background-color: var(--nueve);
}