*{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto; 
  --uno: #effef0;
  --dos: #d9ffdc;
  --tres: #b6fcbd;
  --cuatro: #7ef78c;
  --cinco: #3eea52;
  --seis: #0bae1e;
  --siete: #0d881c;
  --ocho: #106b1c;
  --nueve: #0f581a;
  --diez: #023109;
  --once: #013230;

}
body{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--dos);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--siete);
  width: 1250px;
  height: 100vh;
  color: var(--uno);  
}

.read-the-docs {
  color: #888;
}
.walletBTN{
  position: absolute;
  top: 15px;
  border: 2px solid red;
}