*{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto; 
  --uno: #effef0;
  --dos: #d9ffdc;
  --tres: #b6fcbd;
  --cuatro: #7ef78c;
  --cinco: #3eea52;
  --seis: #0bae1e;
  --siete: #0d881c;
  --ocho: #106b1c;
  --nueve: #0f581a;
  --diez: #023109;
  --once: #013230;

}